<h2><%=h @dispensary.name %></h2>

<%= GMap.header %>
<%= javascript_include_tag("markerGroup") %>
<%= @map.to_html%>
<%= @map.div(:width => 500, :height => 450)%>

<br />

<%= link_to "Back", dispensaries_url %>