<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<!-- meta -->
	<meta http-equiv="Content-type" content="text/html;charset=utf-8" />
	<meta name="description" content="" />
	<meta name="KEYWORDS" content="" />
	<meta name="Copyright" content="Cannibook" />
	<meta name="Language" content="English" />

	<!-- css -->
	<%= stylesheet_link_tag 'main', :media => 'screen, projector'  %>
	<%= stylesheet_link_tag 'jquery-ui', :media => 'screen' %>
	<%# stylesheet_link_tag 'print', :media => 'print' %>
	<!--[if lte IE7]>
	  <%= stylesheet_link_tag 'ie', :media => 'screen, projector' %>
	  <%= stylesheet_link_tag 'ie-print', :media => 'print' %>
	<![endif]-->
	
	<!-- js -->
	<%= javascript_include_tag 'jquery-1.4.2.min' %>
	<%= javascript_include_tag 'jquery-ui.min.js' %>
	<%= javascript_include_tag 'application' %>
	<script type="text/javascript">
	
	</script>
	
	<!-- favicon -->
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="icon" type="image/ico" href="/favicon.ico">

	<!-- title -->
	<title><%= title_for_layout %></title>
</head>
<body<%= id_for_body %>>
  <div id="wrapper">
    <div id="header">
      <h1><%= link_to "Cannibook", index_url %></h1>
      <ul id="nav">
        <li class="strains_link"><%= link_to "Strains", strains_url, :class => current?('strains') %></li>
        <li class="dispensaries_link"><%= link_to "Dispensaries", dispensaries_url, :class => current?('dispensaries') %></li>
        <li class="about_link"><%= link_to "About", about_url, :class => current?('pages', 'about') %></li>
      </ul>
    </div> <!-- end #header -->
    
    <div id="content">
      <% if flash[:notice] -%>
      <div class="flash notice"><%= flash[:notice] %></div> <!-- end .notice -->
      <% elsif flash[:error] -%>
      <div class="flash error"><%= flash[:error] %></div> <!-- end .error -->
      <% elsif flash[:success] -%>
      <div class="flash success"><%= flash[:success] %></div> <!-- end .success -->
      <% end -%>
      <br />

      <%= yield %>
    </div> <!-- end #content -->

    <hr />

    <div id="footer">
      <%= debug(params) if Rails.env.development? %>
    </div> <!-- end #footer -->
  </div> <!-- end #wrapper -->
</body>
</html>
